
<div class="row clearfix">
  <div class="col fwImage">
    <div id="video-gallery" class="royalSlider videoGallery rsDefault">
      <a class="rsImg" data-rsVideo="https://vimeo.com/26323301" href="http://b.vimeocdn.com/ts/174/317/174317046_640.jpg">
        <div class="rsTmb">
          <h5>Endless Summer</h5>
          <p>by RA</p>
        </div>
      </a>

      <a class="rsImg" data-rsVideo="https://vimeo.com/27702618" href="http://b.vimeocdn.com/ts/184/192/184192590_640.jpg">
        <div class="rsTmb">
          <h5>Wefi Surfboards</h5>
          <p>by mark wyatt</p>
        </div>
      </a>

      <div class="rsContent">
        <a class="rsImg" data-rsVideo="https://vimeo.com/36124816" href="http://b.vimeocdn.com/ts/248/526/248526072_640.jpg">
          <div class="rsTmb">
            <h5>Life's Better in Boardshorts short film</h5>
            <p>by Billabong</p>
          </div>
        </a>
        <h3 class="rsABlock sampleBlock">This animated block is here just to show you that you can put anything you want inside each slide.</h3>
      </div>

      <a class="rsImg" data-rsVideo="https://vimeo.com/44253174" href="http://b.vimeocdn.com/ts/307/432/307432227_640.jpg">
        <div class="rsTmb">
          <h5>Globe's Electric Blue Heaven</h5>
          <p>by GLOBE</p>
        </div>
      </a>

      <a class="rsImg" data-rsVideo="https://vimeo.com/18867695" href="http://b.vimeocdn.com/ts/160/715/160715680_640.jpg">
        <div class="rsTmb">
          <h5>Night Surf</h5>
          <p>by Iker Elorrieta</p>
        </div>
      </a>

      <a class="rsImg" data-rsVideo="https://vimeo.com/33001035" href="http://b.vimeocdn.com/ts/225/163/225163711_640.jpg">
        <div class="rsTmb">
          <h5>Maldives Taster 2011</h5>
          <p>by Billabong</p>
        </div>
      </a>

      <a class="rsImg" data-rsVideo="https://vimeo.com/18560206" href="http://b.vimeocdn.com/ts/116/865/116865080_640.jpg">
        <div class="rsTmb">
          <h5>Alana Blanchard</h5>
          <p>by Flicka Mag</p>
        </div>
      </a>

    </div>
  </div>
</div>

