<div id="full-width-slider" class="royalSlider heroSlider rsMinW">
  <div class="rsContent">
    <%= image_tag('1.png', :class => 'rsImg') %>
    <div class="infoBlock infoBlockLeftBlack rsABlock rsNoDrag" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
      <h4>This is an animated block, add any number of them to any type of slide</h4>
      <p>Put completely anything inside - text, images, inputs, links, buttons.</p>
    </div>
  </div>
  <div class="rsContent">
    <%= image_tag('2.png', :class => 'rsImg') %>
     <div class="infoBlock  rsAbsoluteEl rsNoDrag" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
      <h4>This is a static HTML block</h4>
      <p>It's always displayed and not animated by slider.</p>
    </div>
  </div>
 <div class="rsContent">
    <%= image_tag('3.png', :class => 'rsImg') %>
    <div class="infoBlock rsABlock infoBlockLeftBlack rsNoDrag" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
      <h4>Touch events are disabled over this text to allow selection</h4>
      <p>You can add this behaviour to any element inside of slide just by adding 'rsNoDrag' CSS class to it.</p>
    </div>
  </div>
  <div class="rsContent">
    <%= image_tag('4.png', :class => 'rsImg') %>
  </div>
</div>