
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Robert August</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to "Surfboards", "/path1"  %></li>
          <li><%= link_to "Video Gallery", "/path4"  %></li>
          <li><%= link_to "Accessories", "/path2"  %></li>
          <li><%= link_to "Blog", "/path3"  %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>